<div class="container mt-5">
  <nav class="row">
    <div class="nav-wrapper">
      <span class="brand-logo center">{{ config?.title | uppercase }}</span>
    </div>
  </nav>
  <div class="content">
    <div class="row">
      <button class="btn col s2 offset-s10">Dodaj zadanie
      </button>
      <button class="btn col s2 offset-s10">Zakończ
      </button>
    </div>

    <div class="row">
      <input class="col s8" type="text" placeholder="Dodaj zadanie i datę wykonania" #nameInput/>
      <input class="col s2 disabled" type="date" #dateInput/>
      <button class="btn-floating" (click)="createTask(nameInput.value, dateInput.value); nameInput.value =''; dateInput.value = '' ">+
      </button>
    </div>

    <ul class="collection">
      <li class="collection-item row" *ngFor="let task of tasks; let i = index">
          <span class="col s10">
            {{ i + 1 }}. {{ task.name }} - {{ task.deadline | date: 'd.MM EEEE' : '' : 'pl'}} - {{ task.done}}
          </span>
        <div class="col s2 right-align">
          <button class="btn-floating btn-small red mr-5">
            <i class="material-icons">remove</i>
          </button>
          <button class="btn-floating btn-small green">
            <i class="material-icons">check</i>
          </button>
        </div>
      </li>
      <li class="collection-item row">
        <span class="col done">Sprzątnie strychu</span>
      </li>
    </ul>

    <h3>Dzisiaj brak zadań :-)</h3>

    <button class="btn red" (click)="clearTasks()" [disabled]="tasks.length === 0" >
      Wyczyść
    </button>
  </div>
  <footer class="page-footer mt-5">
    <div class="footer-copyright">
      <div class="containter">
        {{ config?.date | date: 'yyyy-mm-dd' }}
        {{ config?.footer }}
      </div>
    </div>
  </footer>
</div>

<!-- Practise tasks -->
  <!--
  <div>Change detection</div>
  <h5>Counter:</h5>
  <h6>{{ counter }}</h6>
  <button (click)="incrementCounter()">+1</button>

  <footer class="page-footer mt-5">
    <div class="footer-copyright">
      <div class="container">{{ getFooter() }}</div> 
      <div>{{ GetterFooter }}</div>
    </div>
  </footer>
  <div>Dzisiejsza data: {{ getDate() | date: 'yyyy-mm-dd' }}</div>
  <div>
    Polska data: {{ getDate() | date: 'fullDate' : '' : 'pl'}}
  </div>
  <div>Polska data: {{ getDate() | date: 'fullDate' : '' : 'pl' | uppercase }}</div>
  <div>
    Liczba bez formatowania: {{ num }}
    <br>
    Liczba całkowita: {{ num | number: '1.0-0' }}
  </div>
  <div>
    Formatowanie kwot: {{ money | currency: 'PLN'}}
    <br>
    Formatowanie kwot: {{ money | currency: 'USD'}}
    <br>
    Formatowanie kwot: {{ money | currency: 'EUR'}}
     JSON PIPE POKAZUJE OBIEKTY 
  </div>
-->
